services:
  backend:
    build:
      context: .
      dockerfile: apps/backend/Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development

  frontend:
    build:
      context: .
      dockerfile: apps/frontend/Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - ./apps/frontend:/usr/src/app/apps/frontend
    environment:
      - NODE_ENV=development
    depends_on:
      - backend
