services:
  backend:
    build:
      context: .
      dockerfile: apps/backend/Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - DATABASE_URL=file:/data/music_tab.db
      - PORT=3000
      - CORS_ORIGIN=http://localhost:5173
      - JWT_SECRET=holo
    volumes:
      - sqlite-data:/data
    depends_on: []

  frontend:
    build:
      context: .
      dockerfile: apps/frontend/Dockerfile
    ports:
      - "5173:5173"
    environment:
      - NODE_ENV=development
      - VITE_BACKEND_URL=http://localhost:3000
    depends_on:
      - backend

volumes:
  sqlite-data: