.btn {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  border: none;
  border-radius: 99px;
  padding: 0.6rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.2s ease, color 0.2s ease, font-weight 0.2s ease, filter 0.2s ease;
}

.btn.primary {
  background-color: #41A67E;
  color: white;
}

.btn.secondary {
  background-color: #3396D3;
  color: white;
}

.btn.danger {
  background-color: #E62727;
  color: white;
}

.btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.btn:hover:not(:disabled) {
  filter: brightness(1.1);
  font-weight: bold;
  color: black;
}
